.card{
	background: #FDFEFE   !important;
	padding: 0% !important;
	border-radius: 5px 5px 0px 0px !important;
	border: 0px solid #000000 !important;
	box-shadow: 0px 10px 10px -2px rgba(204,204,153,1) !important;
	margin-left: 5% !important;
	margin-right: 3% !important ;
	margin-top: 4% !important;
	
}
.img-card{
	width: 100% !important;
	height: 15% px !important;
	margin-top: 0% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	border-radius: 5px 5px 0px 0px !important;
	border: 0px solid #000000 !important;

	
}
h2{
	text-align: center !important;
	color: #000000 !important;

}

.card-body{
	margin-left: 5% !important;
	
 }


h4 {
	margin-top: 5% !important;
	margin-bottom: 5% !important;
	text-align: center !important;
	color: #000000 !important;
}

h4:hover {
	
	font-size: 18px; 
	COLOR: #1278BF; 
	text-shadow: 0px 0px 9px #508AD3;
	text-decoration-line: underline;
}


.bar-cal{
	margin-top: 5% !important;
	margin-left: 30% !important;
}
.footer{
	margin-left: 3% !important;
	
}
.a-footer {
	margin-right: 3% !important;
	height: 50% !important;
}
.a-leermas {
	margin-left: 10% !important;
}