
<br>
<br>
<br>
<br>
<div class="container">
	<br><br>
<div class="row">
	
	<div *ngFor="let item of empresas"   class="col-3 card col-12-narrower">
		<a [routerLink]="['/empresas/', item.id]" >
			<img class="img-card" src="{{item.photo_url}}" alt="">
		</a>
		
		<div class="bar-cal">
				<bar-rating [(rate)]="rate" [max]="5"></bar-rating>
		</div>		
		<a class=" "  [routerLink]="['/empresas/', item.id]"
		><h4>{{item.nombre}}</h4>
		</a>
		<div class="card-body">
			<p>{{item.description_corta}}
			</p>
		</div>
		<div class="footer">
			<a class="icon circle a-footer" href="http://www.aguamania.com.ec/" target="_blank">
					<i class=" icon fa fa-comments fa-1" aria-hidden="true">253</i>
			</a>
			<a class="icon circle a-footer" href="http://www.aguamania.com.ec/" target="_blank">
					<i class=" icon fa  fa-gratipay fa-1" aria-hidden="true">223</i>
			</a>
			
			<a class="icon a-leermas " [routerLink]="['/empresas/', item.id]" > Leer más 
				<i class=" icon fa fa-angle-right" aria-hidden="true"></i>
			</a>
		</div>
	</div>

	
</div>
	<br><br><br>
</div>






















