<!-- Main -->
<article id="main">
		<header class="special container">
				<span class="icon fa-envelope"></span>
				<h2>Contactanos</h2>
				<p>Contactanos o visitanos y nosotros te ayudamos a mejorar tus ventas y
					la imagen de tu empresa.</p>
			</header>
	<div class="row"> 
			
		<div class="col-md-1"></div>
		<div class="col-md-5 animated fadeInLeft">

			<!-- One -->
			<section class="wrapper style4 special container medium">
				<!-- Content -->
				<div class="content">
					<h4>Escribenos</h4>
					<br>
							<form>
								<div class="row gtr-50">
									<div class="col-6 col-12-mobile">
										<input type="text" name="name" placeholder="Nombre" />
									</div>
									<div class="col-6 col-12-mobile">
										<input type="text" name="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<input type="text" name="subject" placeholder="Telefono" />
									</div>
									<div class="col-12">
										<textarea name="message" placeholder="Escribenos tu sugerencia" rows="7"></textarea>
									</div>
									<div class="col-12">
										<ul class="buttons">
											<li><input type="submit" class="special" value="Enviar" /></li>
										
										</ul>
									</div>
								</div>
							</form>
						</div>

			</section>
				
		</div>
		<!-- Contenido 2  Direccion -->
		<div class="col-md-5 animated fadeInRight">
			<section class="wrapper style4 special container medium">
				<!-- Content -->
				<div class="content">
					<h4>Buscanos</h4>
					<br>
					<div class="row">
						<div>
							<h4><i class="fa fa-mobile" aria-hidden="true"></i> </h4>
						</div>
						<div>
							<h5><strong>+593 958 999 724</strong></h5>
						</div>
					</div>
					<div class="row">
							<div>
								<h4><i class="fa fa-mobile" aria-hidden="true"></i> </h4>
							</div>
							<div>
								<h5><strong>+593 987 062 347</strong></h5>
							</div>
					</div>
					<div class="row">
							<div>
								<h4><i class="fa fa-map-marker" aria-hidden="true"></i> </h4>
							</div>
							<div>
								<p>Mall Don Daniel 2do. Planta alta.
								</p>
							</div>
					</div>
					<div class="row">
							<div>
								<h4><i class="fa fa-clock-o" aria-hidden="true"></i> </h4>
							</div>
							<div>
								<p> 09:00 a 13:00 y 15:00 a 19:00.
								</p>
							</div>
					</div>
					<br>
					<div>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.0523275662636!2d-79.20511655509475!3d-4.009663208030523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x45d272f4e9dd82ed!2sDon+Daniel+Mall!5e0!3m2!1ses!2sec!4v1534301890899"
							 width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
					<!-- <agm-map [latitude]="lat" [longitude]="lng" id="map" >
						<agm-marker [latitude]="lat" [longitude]="lng" > </agm-marker>
					</agm-map> -->
				</div>
				</div>

			</section>
		</div>
	</div>
					

</article>
<agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="false" [zoom]="zoom">
	<agm-marker [latitude]="lat" [longitude]="lng" > asdadas</agm-marker>
</agm-map>