<header id="header" class="alt">
    <h1 id="logo">
      <a routerLink="">
        <img src="" alt="">
        Guia Donesitios 
      </a>
    </h1>
    <nav id="nav-bar">
      <ul>
        <li class="current"><a routerLink="">Inicio</a></li>
        <li class="current"routerLinkActive="active"><a class="" routerLink="servicios">Servicios </a></li>
        <li  class="current"routerLinkActive="active"><a class="e_desactivado" routerLink="empresas">Empresas </a></li>
        <li class="current"routerLinkActive="active"><a  routerLink="contact">Contacto </a></li>
        <!-- <li class="submenu">
          <a href="#">Layouts</a>
          <ul>
            <li><a href="left-sidebar.html">Left Sidebar</a></li>
            <li><a href="right-sidebar.html">Right Sidebar</a></li>
            <li><a href="no-sidebar.html">No Sidebar</a></li>
            <li><a routerLinkActive="active" routerLink="contact">Contact</a></li>
            <li class="submenu">
              <a href="#">Submenu</a>
              <ul>
                <li><a href="#">Dolore Sed</a></li>
                <li><a href="#">Consequat</a></li>
                <li><a href="#">Lorem Magna</a></li>
                <li><a href="#">Sed Magna</a></li>
                <li><a href="#">Ipsum Nisl</a></li>
              </ul>
            </li>
          </ul>
        </li> -->
        <!-- <li><a href="#" class="button primary">Sign Up</a></li> -->
      </ul>
    </nav>
  </header>