<article id="main">
  <header class="special container animated slideInDown">
    <span class="icon  fa-star"></span>
    <h3> Nuestros Servicios</h3>
  </header>

  <div class="row animated fadeInLeft" >
    <div class="col-md-1"></div>
      <div class="col-md-6 ">
        <section class="wrapper style1 container special ">

          <div class="row">
            <div class="col-4 col-12-narrower ">
              <section class="tarjeta">
                <header>
                  <h3>Campañas publicitarias</h3>
                </header>
                <p>Nos encargamos de gestionar tu empresa en las diferentes redes sociales.</p>
                <ul class="buttons padd">
                    <li><i class="fa fa-whatsapp" aria-hidden="true"></i></li>
                    <li>Whatsapp Marketing </li>
                </ul>
                <ul class="buttons small padd">
                  <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                  <li>Facebook Ads</li>
                </ul>
                <ul class="buttons padd ">
                    <li><i class="fa fa-google" aria-hidden="true"></i></li>
                    <li>Google Ads</li>
                  </ul>
                <ul class="buttons">
                    <li><i class="fa  fa-envelope-open" aria-hidden="true"></i></li>
                    <li>Email Marketing </li>
                  </ul>
              </section>

            </div>
            <div class="col-4 col-12-narrower">
              <section class="tarjeta">
                <header>
                  <h3>Community Manager</h3>
                </header>
                <p>Comunicación la comunidad, establecer diálogos bidireccionales, 
                  crear audiencias, humanizar la marca y generar valor.  
                </p>
              </section>
            </div>

            <div class="col-4 col-12-narrower">
              <section class="tarjeta">
                <header>
                  <h3>Diseño Gráfico</h3>
                </header>
                <p> Creamos y logramos el éxito para empresas.
                    Nuestro principal objetivo es plasmar tus ideas en diseño que aporten
                    el ingrediente profesional a tu empresa
                </p>
              </section>
            </div>

            <div class="col-4 col-12-narrower">
                <section class="tarjeta">
                  <header>
                    <h3>Posicionamiento Empresarial</h3>
                  </header>
                  <p> Desarrollamos estrategias para mejorar el posicionamiento
                     de tu empresa brindando ideas innovadoras a la vanguardia de 
                     la tecnología, potenciando el valor de la empresa, mejorando 
                     la experencia del cliente.
                  </p> 
                </section>
              </div>

              <div class="col-4 col-12-narrower">
                  <section class="tarjeta">
                    <header>
                      <h3>Branding Personal</h3>
                    </header>
                    <p> Identificamos y comunicamos las caractersticas que te hacen sobresalir,
                       ser relevante, diferente y visible en un entorno homogneo, competitivo 
                       y cambiante.
                    </p> 
                  </section>
                </div>
              
                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                      <header>
                        <h3>Desarrollo de Software</h3>
                      </header>
                      <p> Orientamos  a su  organización a planificar, diseñar, implementar y monitorear los 
                        sistemas de software que le ayudarán a alcanzar los objetivos de la empresa y mejorar
                        su rendimiento.
                      </p> 
                    </section>
                </div>

                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                      <header>
                        <h3>Marketing Político</h3>
                      </header>
                      <p> El asesoramiento en los  principios y técnicas del marketing en favor de
                         una causa social, una idea o un comportamiento social.
                      </p> 
                    </section>
                </div>

                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                      <header>
                        <h3>Asesoría Personalizada</h3>
                      </header>
                      <p> Nuestro objetivo principal es prestarte un servicio integral 
                        personalizado de acuerdo a tus necesidades a las exigencias.
                      </p> 
                    </section>
                </div>
                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                        <footer>
                            <ul class="buttons">
                              <li routerLinkActive="active"  ><a class="button" routerLink="/contacto">Contrata con nosotros</a></li>
                            </ul>
                          </footer>
                    </section>
                </div>
          </div>
        </section>



    </div>
    
  </div>		
  
  
    
   <div class="row" >
      <header class="special container animated slideInDown">
        <span class="icon  fa-briefcase"></span>
        <h3>Nuestros Planes</h3>
      </header>
      <section class="wrapper style4 special container medium">

          <!-- Content -->
            <div class="content ">
                <h4><strong>Plan Premium</strong></h4>
                <p class="padd">Nuestro paquete <strong>Premium</strong> tiene los beneficios que 
                tu empresa necesita para crecer.</p>
                <br>
                <div class="row gtr-50">
                <ul class="buttons padd">
                  <li>
                      <i class="fa fa-address-card-o" aria-hidden="true"></i>
                  </li>
                  <li>Perfil web en Donesitios y Club de compras.</li>
                </ul>
                <ul class="buttons padd">
                    <li>
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </li>
                    <li>Mension semanal en 5 fan pages y 20 grupos de Facebook.</li>
                </ul>
                <ul class="buttons padd">
                    <li>
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </li>
                    <li>Publicidad en 20 grupos de Whatsapp.</li>
                </ul>
                <ul class="buttons padd">
                    <li>
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                    </li>
                    <li>Transmisión en vivo de sus productos y servicios.</li>
                </ul>
                <ul class="buttons padd">
                    <li>
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </li>
                    <li>Alcance de <strong> 500 000</strong> personas en redes sociales mensualmente.</li>
                </ul>
                <ul class="buttons padd">
                    <li>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </li>
                    <li>Acceso al club de compras y sus beneficios.</li>
                </ul>
                <ul class="buttons padd">
                    <li>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </li>
                    <li>Diseño personalizado para las publicaciones.</li>
                </ul>
                <ul class="buttons padd">
                    <li>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                    </li>
                    <li>Tarjeta de afiliado Club de compras.</li>
                </ul>
                </div>
            </div>
            <br>
            <footer>
              <h3> <strong><i class="fa fa-usd" aria-hidden="true"></i> 300 Anuales</strong></h3>
                <ul class="buttons">
                  <li class="current" routerLinkActive="active"><a class="button" routerLink="/contacto" >Contratar</a></li>
                </ul>
              </footer>
        </section>    

   </div>
</article>