<article id="main">
  <header class="special container animated slideInDown">
    <span class="icon  fa-star"></span>
    <h3> Nuestros Servicios</h3>
  </header>

  <div class="row animated fadeInLeft" >
    <div class="col-md-1"></div>
      <div class="col-md-6 ">
        <section class="wrapper style1 container special ">

          <div class="row">
            <div class="col-4 col-12-narrower ">
              <section class="tarjeta">
                <header>
                  <h3>Campañas publicitarias</h3>
                </header>
                <p>Nos encargamos de gestionar tu empresa en las diferentes redes sociales.</p>
                <ul class="buttons padd">
                    <li><i class="fa fa-whatsapp" aria-hidden="true"></i></li>
                    <li>Whatssapp Marketing </li>
                </ul>
                <ul class="buttons small padd">
                  <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
                  <li>Facebook Ads</li>
                </ul>
                <ul class="buttons padd ">
                    <li><i class="fa fa-google" aria-hidden="true"></i></li>
                    <li>Google Ads</li>
                  </ul>
                <ul class="buttons">
                    <li><i class="fa  fa-envelope-open" aria-hidden="true"></i></li>
                    <li>Email Marketing </li>
                  </ul>
              </section>

            </div>
            <div class="col-4 col-12-narrower">
              <section class="tarjeta">
                <header>
                  <h3>Community Manager</h3>
                </header>
                <p>Comunicación la comunidad, establecer diálogos bidireccionales, 
                  crear audiencias, humanizar la marca y generar valor.  
                </p>
              </section>
            </div>

            <div class="col-4 col-12-narrower">
              <section class="tarjeta">
                <header>
                  <h3>Diseño Gráfico</h3>
                </header>
                <p> Creamos y logramos el éxito para empresas.
                    Nuestro principal objetivo es plasmar tus ideas en diseño que aporten
                    el ingrediente profesional a tu empresa
                </p>
              </section>
            </div>

            <div class="col-4 col-12-narrower">
                <section class="tarjeta">
                  <header>
                    <h3>Posicionamiento Empresarial</h3>
                  </header>
                  <p> Desarrollamos estrategias para mejorar el posicionamiento
                     de tu empresa brindando ideas innovadoras a la vanguardia de 
                     la tecnología, potenciando el valor de la empresa, mejorando 
                     la experencia del cliente.
                  </p> 
                </section>
              </div>

              <div class="col-4 col-12-narrower">
                  <section class="tarjeta">
                    <header>
                      <h3>Branding Personal</h3>
                    </header>
                    <p> Identificamos y comunicamos las caractersticas que te hacen sobresalir,
                       ser relevante, diferente y visible en un entorno homogneo, competitivo 
                       y cambiante.
                    </p> 
                  </section>
                </div>
              
                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                      <header>
                        <h3>Desarrollo de Software</h3>
                      </header>
                      <p> Orientamos  a su  organización a planificar, diseñar, implementar y monitorear los 
                        sistemas de software que le ayudarán a alcanzar los objetivos de la empresa y mejorar
                        su rendimiento.
                      </p> 
                    </section>
                </div>

                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                      <header>
                        <h3>Marketing Político</h3>
                      </header>
                      <p> El asesoramiento en los  principios y técnicas del marketing en favor de
                         una causa social, una idea o un comportamiento social.
                      </p> 
                    </section>
                </div>

                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                      <header>
                        <h3>Asesoria Personalizada</h3>
                      </header>
                      <p> Nuestro objetivo principal es prestarte un servicio integral 
                        personalizado de acuerdo a tus necesidades a las exigencias.
                      </p> 
                    </section>
                </div>
                <div class="col-4 col-12-narrower">
                    <section class="tarjeta">
                        <footer>
                            <ul class="buttons">
                              <li routerLinkActive="active"><a class="button" routerLink="contact">Contrata con nosotros</a></li>
                            </ul>
                          </footer>
                    </section>
                </div>
          </div>
        </section>



    </div>
    
  </div>		
   <div class="row">
      <header class="special container animated slideInDown">
          <span class="icon  fa-briefcase"></span>
          <h3>Nuestros Planes</h3>
        </header>
   </div>
  
</article>