.tarjeta{
    /* background:#CC99CC   !important; */
    color: black !important;
}
.padd{
    /* padding-bottom: 0% !important; */
    margin-bottom: 0% !important;
    margin-top: 0% !important;
    margin-left: 0% !important;
}